# ======================
# Python / Django
# ======================
__pycache__/
*.py[cod]
*.sqlite3
*.pyc
*.pyo
*.pyd
env/
environ/
ENV/
*.env
*.pot
*.mo
*.log
*.db
db.sqlite3
*.sqlite3-journal
*.swp

# Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/

# ======================
# Node / React
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
/build
/dist
/.env.local
/.env.*.local

# ======================
# IDEs / Editors
# ======================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.DS_Store
*.bak
*.tmp
*.swp

# ======================
# Others
# ======================
*.log
*.cache
*.bak
